<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.uda.udamobile" version="1.0.0">
    <name>UdaMobile</name>
	<title>UdaMobile</title>
    <description>L'application mobile de l'Université d'Auvergne</description>
    <author href="http://dsi.u-clermont1.fr/" email="fatemeh.hajisotoudeh@gmail.com">
        - L'équipe des logiciels de l'UdA
        - Fatemeh HAJI SOTOUDEH
        - Pierre GUINAULT
    </author>

	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature id="blackberry.ui.dialog" />
    
    <preference name="load-url-timeout" value="60000" />
    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="2.9.0" />   
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />     
    <preference name="fullscreen" value="true" />         
    <preference name="webviewbounce" value="true" />        
    <preference name="prerendered-icon" value="true" />         
    <preference name="stay-in-webview" value="true" />         
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
	<plugin name="Geolocation" value="CDVLocation" />
	<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
	<plugin name="InAppBrowser" value="CDVInAppBrowser" />
	<plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
	<plugin name="InAppBrowser" />
	<plugin name="Notification" value="CDVNotification" />
	<plugin name="Notification" value="org.apache.cordova.Notification"/>
	<plugin name="PushPlugin" value="com.plugin.gcm.PushPlugin" />
	<plugin name="PushPlugin" value="PushPlugin" />
	
    <icon src="icon.png" />
    
    <gap:splash src="splash.png" />
	
    <access origin="http://*"/> <!-- allow local pages -->
    <access origin="http://phonegap.com" />                    - allow any secure requests to http://honegap.com/
    <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
    <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
</widget>